doctype html
html
	head
		title Contact Book
		block meta
		meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')

		block styles
		link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
	body
		block header
			div.row
				div.container
					h1 Contact Book
		#main.container
				block content
		block footer

		block scripts
		script(src='https://code.jquery.com/jquery-1.11.3.min.js')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')